.container {
  display: flex;
  overflow: hidden;
  position: relative;
  margin: auto;
  z-index: 1;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(50, 69, 107, 0.2);
}

.pointContainer {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 100%;
  background-color: #385cf0;
}

.pointContainer h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0.625rem;
  font-family: "Outfit", "sans-serif";
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
}
